<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Create Student Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Create New Student</h1>
            <div class="card-body">
                <form
                        role="form"
                        method="post"
                        th:action="@{/addStudent}"
                        th:object="${student}"
                >

                    <div class="form-group">
                        <label>Student First Name:</label>
                        <input class="form-control" type="text" name="firstname" th:field="*{firstname}" placeholder="Enter firstname" required/><br/>
                    </div>

                    <div class="form-group">
                        <label>Student Last Name:</label>
                        <input class="form-control" type="text" name="lastname" th:field="*{lastname}" placeholder="Enter lastname" required/><br/>
                    </div>

                    <div class="form-group">
                        <label>Student Email:</label>
                        <input class="form-control" type="email" name="email" th:field="*{email}" placeholder="Enter email address" /><br/>
                    </div>


                    <div class="form-group">
                        <label>Student Gender:</label>
                        <div>
                            <label for="male">
                                <input type="radio" id="male" th:field="*{gender}" value="Male" /> Male
                            </label>
                            <label for="female">
                                <input type="radio" id="female" th:field="*{gender}" value="Female" /> Female
                            </label>
                        </div>

                        <br/>
                    </div>


                    <div class="form-group">
                        <label>Student Password:</label>
                        <input class="form-control" type="password" name="password" th:field="*{password}" placeholder="Enter student's password" /><br/>
                    </div>

                    <div class="form-group">
                        <label>Student Faculty:</label>
                        <input class="form-control" type="text" name="facultyName" th:field="*{facultyName}" placeholder="Enter faculty name" /><br/>
                    </div>

                    <div class="form-group">
                        <label>Student Photo:</label>
                        <input class="form-control" type="text" name="photo" th:field="*{photo}" placeholder="Enter photo url" /><br/>
                    </div>

                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit"> Save </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>